@font-face {
    font-family: 'Fuente';
    src: url(Amontesa.ttf);
  }
  @font-face {
    font-family: 'Fuente1';
    src: url(Spring\ Snowstorm.ttf);
  }
body{
    background-color: grey;
    text-align: center;
}

h1{
    font-family: 'Fuente';
    color: rgb(0, 0, 0); 
    font-size: 30px;
} 
h2{
    font-family: 'Fuente';
    color: rgb(104, 3, 72); 
    font-size: 15px;
}

p{
    font-family: 'Fuente1';
    color: rgb(0, 0, 0); 
    font-size: 20px;
}

li{
    font-family: 'Fuente1';
    color: rgb(10, 10, 10); 
    font-size: 20px;
}
